[submodule "picat/tests/test_helper/bats-support"]
	path = picat/tests/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "picat/tests/test_helper/bats-assert"]
	path = picat/tests/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
